# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Testes e caches
.pytest_cache/
.coverage
htmlcov/

# Variáveis de ambiente e IDEs
.env
.idea/
.vscode/
